/* Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 6px;
    }
    
    .hamburger span {
        width: 25px;
        height: 3px;
        background: #fff;
        border-radius: 3px;
        transition: all 0.3s;
    }
    
    nav ul {
        z-index: 100;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(10px);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        padding-top: 60px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        transition: left 0.3s ease-in-out;
    }
    
    nav ul.active {
        left: 0;
    }
    
    .h1-nav {
        display: block;
        position: relative;
        padding-bottom: 10px;
    }
    
    .h1-nav::after {
        content: '';
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #bb86fc;
        height: 4px;
    }
    
    nav ul li a i {
        opacity: 1;
    }
    
    /* HALAMAN HOME RESPONSIF*/
    #name-typing {
        font-size: 20px;
    }
    
    .border-p-home p {
        font-size: 16px;
    }
    
    .btn-CV,
    .btn-futuristic {
        padding: 12px 13px;
        font-size: 12px;
    }
    
    .img-3D {
        width: 200px;
        height: 180px;
        border: 4px ridge #ccc;
    }
    
    /* HALAMAN ABOUT RESPONSIF */
    .about-div-one p {
        text-align: start;
    }
    
    .about-div-two {
        flex-direction: column;
    }
    
    /* HALAMAN PORTFOLIO RESPONSIF */
    .portfolio-grid {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .portfolio-item {
        width: 100%;
    }
    
    /* HALAMAN SKILLS */
    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* HALAMAN CONTACT */
    .contact-subtitle {
        text-align: start;
    }
    
    /* FOOTER RESPONSIF */
    .footer-container {
        flex-direction: column;
    }
    
    .footer-column-link {
        flex: 1 1 150px;
        padding-left: 0;
    }
}