:root {
  --primary: #2e86de;
  --text: #2d3436;
  --light-text: #636e72;
  --bg: #ffffff;
  --bg-light: #f5f6fa;
  --bgMid-light: #e0e3eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  color: var(--text);
  line-height: 1.6;
  background: radial-gradient(circle at 50% 100%, #0d0221, #050010 80%);
}

/* HALAMAN NAVBAR */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav h2 {
  font-size: 1.5rem;
  color: #bb86fc;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.h1-nav {
  display: none;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  text-decoration: none;
  color: var(--bg);
  font-weight: 500;
  padding-bottom: 5px;
  transition: color 0.3s;
  position: relative;
}

nav ul li a i {
  opacity: 0;
  transition: all 0.3s ease;
}

.a-main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 20px;
  background: #1e6fbe;
  transform-origin: left;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}

.a-main-nav:hover::after,
.a-main-nav:focus::after {
  width: 100%;
  left: 0;
}

.a-main-nav:not(:hover)::after {
  width: 0;
  left: auto;
  /* reset kiri */
  right: 0;
}

nav ul li a:hover {
  color: var(--primary);
}

nav ul li a:hover i {
  opacity: 1;
}

.hamburger {
  display: none;
}

/* ANIMASI FADE BOTTOM */
.from-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1.5s ease, opacity 1s ease;
  will-change: transform, opacity;
}

.from-bottom.show {
  opacity: 1;
  transform: translateY(0);
}

.from-rotate {
  transform: perspective(800px) rotateY(-90deg);
  transition: transform 3s ease-in-out;
  transform-style: preserve-3d
  will-change: transform;
}

.from-rotate.show {
  transform: perspective(1000px) rotateY(0deg);
}

/* STYLING SECTION */
section {
  padding: 20px;
  background-color: transparent;
}

.div-section-title {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
  text-align: center;
  color: #bb86fc;
  position: relative;
  padding-bottom: 5px;
  width: max-content;
}

.section-title::after {
  content: '';
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 25%;
  right: 25%;
  width: 50%;
  background: #bb86fc;
  height: 4px;
}

/* HALAMAN HOME */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--bg);
}

.home h2 {
  font-size: 2.5rem;
}

.home p {
  font-size: 1.2rem;
  color: var(--bgMid-light);
  margin-top: 0.5rem;
}

.umkm {
  max-width: 1000px;
}

/* Animasi background */
.home {
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at 50% 100%, #0d0221, #050010 80%);
  /* dasar langit gelap */
}

/* BAtas */
.container-home-1 {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.border-h2-home {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}

#name-typing {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding-right: 5px;
}

.btn-2-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.btn-CV {
  display: inline-block;
  padding: 12px 28px;
  margin-top: 20px;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(123, 47, 247, 0.6), 0 0 30px rgba(0, 198, 255, 0.4);
}


.btn-futuristic {
  display: inline-block;
  padding: 12px 28px;
  margin-top: 20px;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(90deg, #7b2ff7, #00c6ff);
  box-shadow: 0 0 15px rgba(123, 47, 247, 0.6), 0 0 30px rgba(0, 198, 255, 0.4);
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

.btn-futuristic:hover {
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.9), 0 0 40px rgba(255, 0, 204, 0.6);
  background: transparent;
  transform: scale(1.07);
}

.btn-CV:hover {
  background: linear-gradient(90deg, #7b2ff7, #00c6ff);
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.9), 0 0 40px rgba(255, 0, 204, 0.6);
  transform: scale(1.07);
}

/* Modal */
/* Saat modal aktif, body dikasih class no-scroll */
body.no-scroll {
  overflow: hidden;
  /* biar tidak bisa di scroll */
}

/* Blur untuk semua konten di belakang modal */
body.modal-open .container-home-2,
body.modal-open .container-home-1,
body.modal-open header,
body.modal-open footer {
  filter: blur(6px);
  transition: filter 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: none;
  /* box-shadow: 0 0 15px rgba(80, 0, 255, 0.25),
        inset 0 0 12px rgba(0, 200, 255, 0.15); */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content h2 {
  padding-bottom: 30px;
  color: var(--bg);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at 50% 100%, #0d0221, #050010 80%);
  backdrop-filter: blur(15px);
  padding-inline: 25px;
  padding-block: 30px;
  outline: 1px solid rgba(140, 0, 255, 0.5);
  border-radius: 20px;
  text-align: center;
  width: 50%;
  position: relative;
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  padding-bottom: 30px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(123, 47, 247, 0.6), 0 0 10px rgba(0, 198, 255, 0.4);
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.download-btn::after {
  content: '';
  position: absolute;
  width: 120% !important;
  height: 400% !important;
  transform: rotate(60deg);
  border-radius: 20px;
  top: 0;
  left: -70%;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  z-index: -1;
  transition: all 0.6s ease;
}

.download-btn:hover::after {
  left: -10%;
  top: -100%;
  transform: rotate(0);
}

.icon-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.icon-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(145deg, #1e0038, #00061a);
  box-shadow: 0 0 5px rgba(140, 0, 255, 0.6), inset 0 0 5px rgba(0, 200, 255, 0.3);
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.icon-links a:hover {
  background: linear-gradient(145deg, #00c6ff, #ff00cc);
  color: #fff;
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.9), 0 0 40px rgba(255, 0, 204, 0.7);
}

.container-home-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* animation: waveMotion 6s infinite ease-in-out; */
}

.border-p-home {
  width: 100%;
}

.container-home-2 {
  width: 250px;
  height: 350px;
  perspective: 1000px;
  /* pindah ke sini */
  margin: auto;
  padding-top: 70px;
  will-change: transform;
}

/* HALAMAN ABOUT */
.about-div-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-div-one p {
  color: var(--bg);
  max-width: 860px;
  text-align: center;
}

.about-div-two {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
  flex-wrap: wrap;
  /* responsif */
}

.colom-about {
  background: linear-gradient(145deg, rgba(20, 0, 40, 0.9), rgba(0, 0, 20, 0.85));
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgba(180, 0, 255, 0.4);
  box-shadow: 0 0 15px rgba(80, 0, 255, 0.25),
  inset 0 0 12px rgba(0, 200, 255, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease, opacity 1s;
  cursor: pointer;
  backdrop-filter: blur(8px);
}

.colom-about h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #bb86fc;
  /*text-shadow: 0 0 8px rgba(187, 134, 252, 0.9),
        0 0 20px rgba(0, 200, 255, 0.6);*/
  margin-bottom: 8px;
}

.colom-about p {
  font-size: 1rem;
  font-weight: 500;
  color: #cfd8ff;
  /* biru muda lembut */
  letter-spacing: 0.5px;
}

/* Hover Effect Futuristik */
.colom-about:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.7),
  0 0 20px rgba(140, 0, 255, 0.7),
  0 0 40px rgba(0, 200, 255, 0.5);
  border-color: rgba(255, 0, 255, 0.6);
}

/* HALAMAN PORTFOLIO*/
.portfolio {
  text-align: start;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: stretch; 
}

.portfolio-item {
  background: linear-gradient(145deg, rgba(20, 0, 40, 0.9), rgba(0, 0, 20, 0.8));
  border-radius: 15px;
  border: 1px solid rgba(140, 0, 255, 0.5);
  overflow: hidden;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(140, 0, 255, 0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.portfolio-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
  border-bottom: 1px solid rgba(140, 0, 255, 0.4);
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #cfd8ff;
  flex-grow: 1;
  justify-content: space-between;
}

.portfolio-content h3 {
  font-size: 1.3rem;
  color: #bb86fc;
  margin-bottom: 10px;
}

.portfolio-content p {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  gap: 10px;
  justify-content: start;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.tags span {
  background: rgba(140, 0, 255, 0.15);
  border: 1px solid rgba(187, 134, 252, 0.6);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  color: #bb86fc;
  transition: background 0.3s ease, color 0.3s ease;
}

.tags span:hover {
  background: #bb86fc;
  color: white;
}

.btn-portfolio {
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  color: white;
  background: #bb86fc;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn-portfolio:hover {
  background: transparent;
  border-color: #bb86fc;
  color: #bb86fc;
  box-shadow: 0 0 10px rgba(187, 134, 252, 0.4);
}

/* Hover Effect */
.portfolio-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8),
  0 5px 15px rgba(140, 0, 255, 0.8),
  0 5px 15px rgba(0, 200, 255, 0.6);
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

/* HALAMAN SKILLS */
.skills {
  padding: 80px 20px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-items: center;
  padding-inline: 30px;
}

.skill-box {
  background: linear-gradient(145deg, rgba(20, 0, 40, 0.9), rgba(0, 0, 20, 0.8));
  border: 1px solid rgba(140, 0, 255, 0.4);
  border-radius: 15px;
  width: 290px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1.5s ease;
  cubic-bezier(0.2, 0.8, 0.2, 1);
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(140, 0, 255, 0.2);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-block: 60px;
}

.skill-box i {
  font-size: 4rem;
  color: #cfd8ff;
  transition: transform 1s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.skill-box p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #cfd8ff;
}

/* Hover efek */
.skill-box:hover {
  border: 1px solid #bb86fc;
  box-shadow: 0 0 1px #bb86fc, 0 0 1px rgba(0, 200, 255, 0.6);
  transform: translateY(-8px);
}

.skill-box:hover i {
  transform: rotateY(360deg);
  color: #bb86fc;
  text-shadow: 0 0 2px #bb86fc, 0 0 2px rgba(0, 200, 255, 0.6);
}

/* HALAMAN CONTACT */
.contact {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(145deg, rgba(10, 0, 30, 0.95), rgba(0, 0, 20, 0.9));
  position: relative;
  overflow: hidden;
}

.contact-subtitle {
  font-size: 1.1rem;
  color: #cfd8ff;
  margin-bottom: 30px;
}

.contact-info {
  margin: 0 auto;
  font-size: 1rem;
  color: #cfd8ff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 600px;
  margin-bottom: 30px;
}

.contact-info p {
  margin: 8px 0;
}

.contact-info i {
  margin-right: 10px;
  color: #bb86fc;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  background: rgba(20, 0, 40, 0.8);
  border: 1px solid rgba(140, 0, 255, 0.4);
  border-radius: 10px;
  padding: 14px;
  font-size: 1rem;
  color: #fff;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #bb86fc;
  box-shadow: 0 0 15px #bb86fc, 0 0 30px rgba(0, 200, 255, 0.6);
}

.contact-form button {
  position: relative;
  margin-top: 30px;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0, 198, 255, 0.9), 0 0 5px rgba(255, 0, 204, 0.6);
  width: 50%;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  /* supaya ::after tidak keluar tombol */
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.contact-form button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  right: -100%;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  z-index: -1;
  transition: right 0.6s ease, border-radius 0.6s ease;
}

.contact-form button:hover::after {
  right: 0;
  border-radius: 30px;
}

.contact-form button:hover {
  box-shadow: 0 0 10px #bb86fc, 0 0 30px rgba(0, 200, 255, 0.6);
}

/* Footer */
.footer {
  background: radial-gradient(circle at 50% 100%, #0d0221, #050010 80%);
  padding: 60px 60px;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-brand {
  flex: 1 1 150px;
}

.footer-brand p {
  line-height: 1.6;
}

.footer-column {
  flex: 1 1 150px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-underline {
  height: 3px;
  width: 30px;
  background: #7a1af0;
  margin-bottom: 15px;
}

.footer-column-link {
  flex: 1 1 150px;
  padding-left: 100px;
}

.footer-column-link h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: #cfcfe3;
  width: fit-content;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-column p {
  color: #cfcfe3;
  margin-bottom: 15px;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-social {
  color: #cfcfe3;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social:hover {
  color: #ffffff;
  transform: scale(1.2);
}