/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: all 0.3s;
  }

  nav ul {
    z-index: 100;
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding-top: 60px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    transition: left 0.3s ease-in-out;
  }

  nav ul.active {
    left: 0;
  }

  .h1-nav {
    display: block;
    position: relative;
    padding-bottom: 10px;
  }

  .h1-nav::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 50px;
    background: #bb86fc;
    height: 4px;
  }

  nav ul li a i {
    opacity: 1;
  }

  /* HALAMAN HOME RESPONSIF*/
  .container-home {
    padding-top: 0 !important;
    flex-direction: column;
    /* Gambar di atas atau di bawah, di sini saya set di bawah */
    gap: 40px;
    /* Jarak antar elemen yang wajar */
    text-align: center;
  }
  
  

  .container-home-1, .container-home-2 {
    width: 100%;
  }

  .border-h2-home {
    justify-content: center;
  }

  #name-typing {
    font-size: 1.5rem;
  }

  .umkm p {
    font-size: 1rem !important;
    /* Gunakan ukuran yang terbaca manusia */
    text-align: center;
  }

  .btn-2-home {
    justify-content: center;
    flex-direction: column;
    /* Tombol tumpuk ke bawah di layar kecil */
    gap: 15px;
  }

  .icon-links {
    justify-content: center;
    margin-top: 20px;
  }

  .container-home-2 img {
    height: auto;
    max-width: 100%;
    /* Agar gambar tidak memenuhi layar hp sepenuhnya */
    margin: 0 auto;
  }

  /* HALAMAN ABOUT RESPONSIF */
  .about-div-one p {
    text-align: start;
  }

  .about-div-two {
    flex-direction: column;
  }
  
  .colom-about {
    width: 250px;
  }

  /* HALAMAN PORTFOLIO RESPONSIF */
  .portfolio-grid {
    display: flex;
    flex-direction: column;
  }

  .portfolio-item {
    width: 100%;
  }

  /* HALAMAN SKILLS */
  .skills-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  /* HALAMAN CONTACT */
  .contact-subtitle {
    text-align: start;
  }
  
  .contact-info p {
    text-align: start;
  }

  /* FOOTER RESPONSIF */
  .footer {
    padding: 60px 30px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-column-link {
    flex: 1 1 150px;
    padding-left: 0;
  }

  /* modal */
  .modal {
    width: 80%;
  }

  .modal-content {
    width: 100%;
  }
}